.myAppointmentForm .mySingleCell {
    width: 50%;
}
.myAppointmentForm .myDoubleCell {
    width: 100%;
}
.myAppointmentForm table.myLabelControlPair {
    width: 100%;
    height: 100%;
}
.myAppointmentForm table.myLabelControlPair .myLabelCell {
    width: 100px;
    height: 100%;
}
.myLabelCell {
	white-space: nowrap;	
}
.myAppointmentForm .myLabelControlPair .myControlCell {
    height: 100%;
}
.myAppointmentForm .mySingleCell, .myAppointmentForm .myDoubleCell {
    height: 26px;
}